@import"vars";
body{
    display:grid;
    grid-template-row: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 80vw;
    width: 100vw;
    margin: 0;
                    header{
                        height: 10vh;
                        width: 100vw;
                        text-align: center;
                        background: #5c4d7d; 

                    }
                
                main{
                    grid-template-row: repeat(2, 1fr);
                    grid-template-columns: repeat (2, 1fr);
                    display:grid;
                    width:60vw;
                    height: 60vh;
                    
                    h2{
                        display:grid;
                        grid-row: 1/4;
                        text-align:center;
                        
                        section{
                            display: grid;
                            
                            article{
                                display:grid;
                                grid-column: 1/2;
                            }
                            
                        }
                    }   
                }
}